/* ==========================================================================
   WAITER ON WHEELS STYLESHEET
   LORENA STERJANAJ
   APRIL 2013
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body { 
	margin: 0; 
	font-size: 1em; 
	line-height: 1.4; 
}


/* G L O B A L   S T Y L E S   */


body{
	background: #ffffff;
	font-size: 14px;
	font-family: Georgia, Times, serif;
	line-height: 18px;
}

.container{top: 0; clear: both; width: 100%;}
a:link{ color: #ffffff; text-decoration: none;}
#brewcity{color: #ECCEF5}
a:hover{ font-weight: bolder; color: #ECCEF5; text-decoration: none;}

#blankpage{
	width: 400px;
	position: relative;
	left: 300px;
	float: left;
	padding: 40px 100px 0px 2px; 
	text-align: left; 
	margin: -10px 0 0 0;
}


/*  H  E  A  D  E  R  */

#global-nav-container{
	position:fixed;
	z-index: 9999;
	height: 35px;
	background: #000000 0 0 repeat;
}

#global-nav{
	position: relative;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#global-nav ul {
	display: inline-block;
	margin: 0px auto;
	padding: 4px 0px 0px 0px;
	list-style: none;
}

#global-nav ul li{
	position:relative;
	float: left;
	margin-right:13px;
}

#global-nav ul li a:link, #global-nav ul li a:visited{
	display: block;
	margin: 6px 0;
	padding: 0px 13px 0px 0px;
	height: 13px;
	outline: none;
	border:0;
	border-right: solid 1px #383838;
	font-style: italic;
	font-size: 13px;
	line-height: 13px;
	color: #ffffff;
}
	
#global-nav ul li a:hover{ color: #ECCEF5;}

/* H  O  M  E  */

#home{
	background-image:url('back2.png');
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat:no-repeat;
	float: left;
	height: 575px;
	width: 1280px;

}

#text2{
	float: right;
	position: relative;
	bottom: 500px;
	padding: 40px;
	width: 300px;

}

h5{
	font-size: 8em;
	font-weight: bolder;
	line-height: 60px;
	color: #ffffff
}

h6{
	font-size: 3em;
	font-weight: bolder;
	line-height: 40px;


}

/*  A  B   O   U   T  */

#about{
	width: 400px;
	position: relative;
	left: 100px;
	float: left;
	padding: 40px 100px 0px 2px; 
	text-align: left; 
	margin: -10px 0 0 0;

}
	
/*  C O N T A C T  */

#contactform {
	width: 400px;
	position: relative;
	left: 150px;
	float: left;
	padding: 40px 100px 0px 2px; 
	text-align: left; 
	margin: -10px 0 0 0;
}

#contactform input { 
	padding: 5px;
	margin: 5px;
}

#contactform textarea { 
	width: 300px ;
	height: 120px ;
	padding: 5px;
	margin: 5px;
}

/*  S  I  D  E  B  A  R   */

#sidebar{
	position: relative;
	float: right;
	width: 200px;
	padding: 40px 60px 60px 40px;
	
}

.logo{
	box-shadow: 5px 5px 5px #888888;
	position: relative;
	left: 2px;
}


/*  H  E  A  D  I  N  G  S   */

h3{font-style: italic;}

h1{font-size: 1em}

h2{font-style: italic;font-size: 14px;}

h4{font-size: 18px;}

/*  H  O  U  R  S  */

#hours{
	width: 400px;
	position: relative;
	left: 150px;
	float: left;
	padding: 40px 100px 20px 2px; 
	text-align: left; 
	margin: -10px 0 0 0;

}

/*  F  A  Q   */

#faq{
	width: 500px;
	position: relative;
	left: 100px;
	float: left;
	padding: 40px 100px 40px 2px; 
	text-align: left; 
	margin: -10px 0 0 0;
}

/*  R E S T U A R A N T S   */

#new{
	position: relative;
	float: left;
	left: 100px;
	padding: 40px 100px 0px 2px; 
	text-align: left; 
	margin: -10px 0 0 0;
	width: 200px;

}

#res{
	width: 500px;
	position: relative;
	float: left;
	padding: 40px 40px 60px 90px; 
	text-align: left; 
	margin: -10px 0 0 0;
}

.restuarants{
	position: relative;
	float: left;
	margin: 0 10px 10px 0px;
	padding: 16px;
	width: 120px;
	height: 128px;
	border: 2px solid #292723;
	background: #fff;
}

.restuarants:hover { background: #ECCEF5;}



/* F R A M E  */

#frame{
	position: absolute;
	background: #58FAD0;
	width:200px; 
	height: 100%;
}



/* F O O T E R */

#global-footer-container{
	height: 130px;
	border-top: 3px solid #ECCEF5 ;
	background: #000000;
	color: #ffffff;
}

#global-footer{
	margin: 0 auto;
	width: 960px;
	font-size: 11px;
	text-transform: bold;
}

#sociallinks{
	float: left;
}


#res-links-footer{
	width: 300px;
	float: left;
	margin-left: 150px; 
	margin-top: 10px;
}

#res-links-footer a:visited{ color: #ECCEF5 }

table{ float: right; }


#copyright{ clear: left; text-align: center;}

